[broker]
bootstrap.servers = localhost:9092
sasl.mechanism    = PLAIN
security.protocol = SASL_PLAINTEXT
sasl.username     = admin
sasl.password     = admin-secret

[producer]
batch.size       = 2000000
linger.ms        = 100
compression.type = lz4
key.serializer   = StringSerializer
value.serializer = DataFileChunkSerializer

[consumer]
group.id           = create_new
auto.offset.reset  = earliest
enable.auto.commit = False
fetch.min.bytes    = 100000
key.deserializer   = StringDeserializer
value.deserializer = DataFileChunkDeserializer
